# Python

__pycache__/
*.pyc


# Virtual environments

.aiass/
venv/
env/


# Environment

backend/.env
backend/.env.*

# IDE

.vscode/
.idea/


# OS

.DS_Store


# Database

chroma_db/


# Logs

*.log

#uploads/

uploads/*
!uploads/.gitkeep