# Python
__pycache__/
*.pyc


# Virtual environments
.aiass/
venv/
env/

# Environment / secrets
.env
backend/.env
frontend/.env

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# App data
uploads/
chroma_db/
*.db

# Logs
*.log

#uploads/
uploads/*
!uploads/.gitkeep